POSTGRES_DB=ventas_db
POSTGRES_USER=walter
POSTGRES_PASSWORD=TuClave123
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
DATABASE_URL=postgresql://walter:TuClave123@postgres:5432/ventas_db

REDIS_URL=redis://redis:6379/0

MLSERVICE_HOST=mlservice
MLSERVICE_PORT=8001

FLASK_ENV=development
SECRET_KEY=changeme
